/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol { 
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} 
/* end reset browser styles */

/* font-face */
@font-face {
    font-family: 'Aver';
    src: url('../fonts/Aver.eot');
    src: url('../fonts/Aver.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aver.woof') format('woff'),
        url('../fonts/Aver.ttf') format('truetype'),
        url('../fonts/Aver.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aver';
    src: url('../fonts/Aver Italic.eot');
    src: url('../fonts/Aver Italic?#iefix') format('embedded-opentype'),
        url('../fonts/Aver Italic.woof') format('woff'),
        url('../fonts/Aver Italic.ttf') format('truetype'),
        url('../fonts/Aver Italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aver';
    src: url('../fonts/Aver Bold.eot');
    src: url('../fonts/Aver Bold?#iefix') format('embedded-opentype'),
        url('../fonts/Aver Bold.woof') format('woff'),
        url('../fonts/Aver Bold.ttf') format('truetype'),
        url('../fonts/Aver Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aver';
    src: url('../fonts/Aver Bold Italic.eot');
    src: url('../fonts/Aver Bold Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aver Bold Italic.woof') format('woff'),
        url('../fonts/Aver Bold Italic.ttf') format('truetype'),
        url('../fonts/Aver Bold Italic.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}

/* font-face */

body{
    font-family: Aver, Arial, sans-serif;
    font-size: 80%;
    background-color: #30302f;
}

.main{
    width: 740px;
    margin: 0 auto;
    border: 2px solid #7ac146;
    background-color: #fff;
    padding: 12px;
}

header{
    border-bottom: 4px solid #7ac146;
    padding: 10px;
}

h1{
    color: white;
    font-size: 50px;
    text-shadow: -3px 3px 0px #7ac146, 3px -3px 0px #7ac146;
}

.adres{
    font-size: 115%;
    color: #999;
    margin-top: 5px;
}

article:first-of-type{
    border: 2px solid gray;
    padding: 5px;
    margin: 5px;
}

article:nth-of-type(n+1){
    margin: 15px;
}

h3{
    color: rgb(255,102,0);
    font-size: 125%;
    text-transform: capitalize;
    font-weight: bold;
    margin: 15px;
}

h3:first-letter{
    font-size: 150%;
}

h4{
    font-size: 110%;
    color: #336600;
    margin: 6px;
}

p{
    line-height: 150%;
}

p:first-line{
    font-weight: bold;
    color: #660000
}

li:nth-child(even){
    list-style-image: url(../images/blauwebloem_klein.gif);
}
li:nth-child(odd){
    list-style-image: url(../images/rodebloem_klein.gif);
}

img{
    margin: 5px;
    border: 2px solid #7ac146;
}